page{
  background: #fff;
  padding-bottom: 15rpx;
}
.container{
  width:100%;
}
.header{
  height: 15rpx;
}
.slide-image{ 
  width:94%; 
  margin:20rpx auto;
}
.slide-image{ 
  width:96%; 
  margin:20rpx auto 0;
}